* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle, #242424, #050505);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


header {
    padding: 35px 20px;
    background: linear-gradient(135deg, #111, #292929);
    border-bottom: 2px solid #d4af37;
}


header h1 {
    margin: 0;
    font-size: 42px;
    color: #d4af37;
}


header p {
    color: #ddd;
    font-size: 18px;
}



.wallet {

    margin: 25px auto;
    padding: 15px;

    width: 250px;

    background: #151515;

    border: 2px solid #d4af37;
    border-radius: 15px;

    font-size: 24px;
}



#coins {
    color: #00ff88;
    font-weight: bold;
}



nav {

    margin: 20px;

}



button {

    background: linear-gradient(#ffd700,#b8860b);

    border: none;

    padding: 15px 25px;

    margin: 8px;

    border-radius: 12px;

    font-size: 18px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;

}



button:hover {

    transform: scale(1.05);

}



main {

    display: flex;

    justify-content: center;

}



.game {

    width: 90%;
    max-width: 500px;

    background: rgba(20,20,20,0.95);

    border: 2px solid #d4af37;

    border-radius: 20px;

    padding: 30px;

    box-shadow: 0 0 30px rgba(212,175,55,0.3);

}



.hidden {

    display:none;

}



#slot-display {

    font-size: 60px;

    margin: 30px;

    letter-spacing: 10px;

}



h2 {

    color:#d4af37;

}



p {

    font-size:18px;

}



@media(max-width:600px){

    header h1{

        font-size:30px;

    }


    button{

        width:90%;

    }


    #slot-display{

        font-size:40px;

    }

}
.lobby {

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:20px;

}



.game-card {

    width:220px;

    padding:25px;

    background:
    linear-gradient(
        145deg,
        #222,
        #080808
    );


    border:2px solid #d4af37;

    border-radius:20px;

    cursor:pointer;

    transition:.3s;

}



.game-card:hover {

    transform:translateY(-10px);

    box-shadow:
    0 0 25px rgba(212,175,55,.5);

}



.game-card .icon {

    font-size:60px;

}



.game-card h3 {

    color:#d4af37;

}



.game-card p {

    color:#ccc;

}
#wheel {

    width:250px;
    height:250px;

    margin:30px auto;

    border-radius:50%;

    background:
    conic-gradient(
        red 0deg 60deg,
        black 60deg 120deg,
        green 120deg 180deg,
        red 180deg 240deg,
        black 240deg 300deg,
        green 300deg 360deg
    );

    border:8px solid #d4af37;

    display:flex;

    justify-content:center;

    align-items:center;

    transition:transform 3s cubic-bezier(.2,.8,.2,1);

}



#wheel-center {

    width:80px;

    height:80px;

    border-radius:50%;

    background:#111;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:35px;

}